html, body { 
  padding: 0px; 
  margin: 0px; 
  height: 100%; 
  overflow: hidden; 
}

.fixed-header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: blue;
}

.fixed-footer {
  z-index: 1;  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: green;
}

.no-overflowscrolling .fixed-header { 
  position: absolute; 
}

.no-overflowscrolling .fixed-footer { 
  position: absolute; 
}

.scroll-body {
  position: absolute;
  background: #EEEEEE;
  width: 100%;
}

.overflowscrolling .scroll-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;  
}

.scroll-body.has-header {
  top: 30px;
}

.scroll-body.has-footer {
  bottom: 30px;
}





/* ================== */
/* = List Style CSS = */
/* ================== */

/* ul element */
#scroller-content {
	list-style: none;
}
#scroller-content li {
	border-bottom: 1px solid #696969;
	padding: 10px 20px 10px 20px;
}