html, body { 
  padding: 0px; 
  margin: 0px; 
  height: 100%; 
  overflow: hidden; 
}

.fixed-header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
/*  background: #000;*/
  -webkit-box-shadow: 0px 3px 17px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 17px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 17px rgba(50, 50, 50, 0.5);
background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.01, #000),
    color-stop(.02, #555), color-stop(.03, #2d2d2d), color-stop(.5, #151515), color-stop(.51, #000));
    border-top: 1px rgba(255,255,255,0.3) solid;
}

.fixed-footer {
  z-index: 1;  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
/*  background: #000;*/
background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.01, #000),
    color-stop(.02, #555), color-stop(.03, #2d2d2d), color-stop(.5, #151515), color-stop(.51, #000));
    border-top: 1px rgba(255,255,255,0.3) solid;
}

.no-overflowscrolling .fixed-header { 
  position: absolute; 
}

.no-overflowscrolling .fixed-footer { 
  position: absolute; 
}

.scroll-body {
  position: absolute;
  background: #EEEEEE;
  width: 100%;
}

.overflowscrolling .scroll-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;  
}

.scroll-body.has-header {
  top: 50px;
}

.scroll-body.has-footer {
  bottom: 50px;
}





/* ================== */
/* = List Style CSS = */
/* ================== */

/* ul element */
#scroller-content {
	list-style: none;
}
#scroller-content li {
	border-bottom: 1px solid #333;
	padding: 10px 20px 10px 20px;
}
.m-list-item-main-item {
	font-size: 1.5em;
	font-weight: bold;
}
.split {
	width: 49%;
	float: left;
}
.clear {
	clear: both;
	width: 100%;
}
.m-list-item-main-item .split:first-child {
	padding-right: 10px;
}
.m-list-item-main-item .split:last-child {
	padding-left: 10px;
	text-align: center;
}




